body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./assets/Background.jpg) no-repeat center;
  background-size: cover;
  margin: 0;
}
p {
  margin: 6px;
  color: #fff;
}

h1 {
  margin: 12px;
}

input {
  height: 18px;
}

.Logo {
  width: 110px;
  height: 90px;
  margin: 12px;
}

.Main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Form {
  width: 520px;
  border: 1px solid #999;
  border-radius: 10px;
  overflow: hidden;
  background-color: #739fbe;
}

.MainForm {
  padding: 20px 40px;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sex {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.Line {
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #666;
}

.note {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  background-color: #79be73;
}
.footer {
  width: 100%;
  height: 15px;
  background-color: #fff;
}

.logout {
    width: 100%;
    text-align: end;
    position: absolute;
    top : 0;
    text-decoration: none;
    color: #79be73;
    right: 20px;
    padding: 10px;
}